nav { 
  display: flex;
  justify-content: space-between;
  background-color: #d8cbdc;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  height: 120px;
  padding: 1.5em;
  position: static;
  top: 0;
  width: 100%;
  z-index:2;
}
.color {
  color: #194F92;
}

.tweeter {
  font-family: "Bungee", cursive;

}

/* Keeps the "link" up top looking like normal text */
a:link, a:visited {
  text-decoration: none;
  color: #194F92;
}