#box {
  width: 100%
}

button {
  border: none;
  color: #194F92;
  padding: 8px 8px;
  text-align: center;
  margin: 4px 2px;
  justify-content: flex-start;
  border-radius: 8px;
  background: #CBD5F0;
  width: 80px;
  height: 38px;

}

button:active {
  transform: translateY(3px);
}

textarea {
display: flex;
align-items: stretch;
background-color: transparent;
border: 0;
border-bottom: solid;
height: 50px;
width: 100%;
color: #943257;
font-family: "Source Sans Pro", sans-serif;
}


.lowerfont {
  display: flex;
  justify-content: space-between;
  font-size: large;
  font-family: "Bungee", cursive;
}

.counter {
  font-family: "Bungee", cursive;
  color:  #61b4a2
}

.red {
  color: red;
}

.tweet {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 24px;
  border-radius: 25px;
  background: #b46173;
}


.tweet header{
  display: flex;
  justify-content: space-between;  
  padding-right: 1em;
  padding-top: 1em;
  font-weight: normal;

}

.border {
  border-bottom: solid;
  align-self: center;
  width: 98%;
}

.handle {
  color: #FAFAFB ;
  opacity: 0;
}

.hidden {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 100%;
  border: solid;
  border-color: red;
}

.invis {
  opacity: 0;
}

.tweet:hover .handle {
  opacity: 1;
}

.tweet:hover {
  box-shadow: #FAFAFB 5px 5px 2px;
}